venv/
.env
.idea/
src/bikescout/__pycache__/
src/bikescout/tools/__pycache__/
dist/
scripts/
demo/
src/bikescout/tools/race/__pycache__/
docker-compose-webui.yml
.coverage
# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

models/